.Home__Container {
    background: url('../images/stars.svg'), #1B1B25;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
}

.intro,
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.intro {
    align-items: flex-start;
}

.intro img {
    width: 90%;
    padding-bottom: 2rem;

}

.intro .btn-lg {
    padding: 0.5rem 4rem;
    margin-top: 1rem;
}